@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Spectral&display=swap');

*{
  box-sizing: border-box;
}

h1 {
  font-family: 'Spectral', serif;
  color: black;
  grid-column:1;
  grid-row:1;
}
nav{
    padding:1em;
}
main{
    width:100%;
    
}

nav a, nav a:visited{
    color:white;
}

img{
  max-width: 60%;
min-width: 40%;
}


#design-grid {
  padding:1.2em;
  margin:auto;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  }

  
  #cult{
    grid-column:1/2;
    grid-row:2/3;
  }
  
  #ruleof3rds-head {
    grid-column:2/3;
    grid-row:2;
    padding:.5em;
    margin:none;
  }
  
  #ruleOfThirds {
    grid-column:2/3;
    grid-row:2/4;
    padding-top: 2.95em;
    margin-top:2em;
  }
  
  #university {
  grid-column:3;
   grid-row: 4/5;
  }
  
  #contrast-head {
    grid-column:1;
    grid-row:4;
 padding:.5em;
    margin:none;
  }
  
  #contrast {
    grid-column:1/3;
    grid-row:4/5;
 padding-top: 2.95em;
    margin-top:2em;
  }
  
#amazon {
    grid-column:1/2;
    grid-row:6/8;
  }
  
  #repetition-head {
    grid-column:2;
    grid-row:6;
     padding:.5em;
    margin:none;
  }
  
  #repetition {
    grid-column:2/3;
    grid-row:6/7;
 padding-top: 2.95em;
    margin-top:2em;
  }
  

  