
*{
    box-sizing: border-box;
  }
body {
    background-color: #2B4162;
    width:100%;
    margin:auto;
    font-family: 'Montserrat', sans-serif;
}
header{
    width:100%;
    background-color:#2B4162;
    color: #F5F0F6;
}
h1{
    font-family: 'Crimson Text', serif;
    padding: 1em;
    font-size: 2em;
}
main{
    background-color: white;
    width:100%;
    height: 80%;
    display:flex;
    flex-direction: column;
}
h2{
    padding-left: 4em;
    padding-top: 2em;
    padding-bottom:1em;
}
footer{
    text-align: center;
    padding:1em;
    color: #F5F0F6;
}
footer a:link, footer a:visited{
    color:#D7B377;
}
nav{
    padding-left:2em;
    padding-bottom:1em;
}
nav ul li{
    padding: .5em;
}
@media screen and (min-width:680px){
#image{
    float: right;
    margin-right: 3em;
}
main{
    display:block;
}
}