@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Montserrat&display=swap');
*{
    box-sizing: border-box;
  }
body {
    background-color: #2B4162;
    width:100%;
    margin:auto;
    font-family: 'Montserrat', sans-serif;
}
header{
    width:100%;
    background-color:white;
    align-items:left;
    color: #F5F0F6;
    font-family: 'Crimson Text', serif;
    padding: 1em;
}
main{
    background-color: white;
    width:100%;
}
h3{
    padding-left: 4em;
}
footer{
    text-align: center;
    padding:1em;
}
nav ul{
    padding:2em;
}
